<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="ML3DInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     </sectionGroup>
 </configSections>
 <appSettings>
		<!-- /!\ first in list is the latest -->
		<add key="Luminis" value="2.0.1.2,2.0.1.1,2.0.1.0" />
		<add key="Phaos" value="2.2.6.5" />
	</appSettings>
<userSettings>
  <ML3DInstaller.Properties.Settings>
    <setting name="GithubApiToken" serializeAs="String">
      <value>Your-Token</value>
    </setting>
    <setting name="ViewTestProject" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="ReleaseOnly" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="DeveloperMode" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="UseGitPAT" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="DeleteInstaller" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="CurrentlyDownloadingURL" serializeAs="String">
      <value />
    </setting>
    <setting name="CurrentlyDownloadingDestPath" serializeAs="String">
      <value />
    </setting>
    <setting name="DownloadBlockSize" serializeAs="String">
      <value>8192</value>
    </setting>
    <setting name="ShowSupportOptions" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="CurrentDownloadSize" serializeAs="String">
      <value>0</value>
    </setting>
    <setting name="CurrentDownloadVersion" serializeAs="String">
      <value />
    </setting>
    <setting name="LastUsedSoftware" serializeAs="String">
      <value>Luminis</value>
    </setting>
    <setting name="LastSourcesUpdate" serializeAs="String">
      <value>0</value>
    </setting>
    <setting name="TestReleaseJson" serializeAs="String">
      <value />
    </setting>
    <setting name="PhaosReleaseJson" serializeAs="String">
      <value />
    </setting>
    <setting name="LuminisReleaseJson" serializeAs="String">
      <value />
    </setting>
    <setting name="UpdateSourcesTiming" serializeAs="String">
      <value>1800</value>
    </setting>
    <setting name="TestLatestReleaseJson" serializeAs="String">
      <value />
    </setting>
    <setting name="PhaosLatestReleaseJson" serializeAs="String">
      <value />
    </setting>
    <setting name="LuminisLatestReleaseJson" serializeAs="String">
      <value />
    </setting>
    <setting name="InstallerReleaseJson" serializeAs="String">
      <value />
    </setting>
    <setting name="InstallerLatestReleaseJson" serializeAs="String">
      <value />
    </setting>
  </ML3DInstaller.Properties.Settings>
 </userSettings>
</configuration>